[Unit]
Description=Memory Information
After=network.target

[Service]
Type=forking
User=root
ExecStart=/etc/meminfo/meminfo
Restart=always

[Install]
WantedBy=multi-user.target